@{
    ViewBag.Title = "Acerca de";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>En GOBUS , nuestro principal activo es el equipo   ,  Gente buena al servicio de Gente Buena….ya que gracias  al mismo se han cristalizado la mayor parte de nuestros sueños.

NUESTRO SUEÑO….que más familias vivan mejor…. y para lograrlo contamos con  un equipo de valor y con valores, comprometidos a resolver las necesidades de nuestros clientes, con transparencia y honestidad, brindándoles  la confianza que necesitan para hacerlos sentir como en su casa.
Division Automotriz

Llevamos más de 30 años en el mercado, manejando exclusivamente las marcas de General Motors, Chevrolet, Cadillac, Buick, GMC y con la representación de Performance Store con las marcas deportivas Corvette y Camaro, contamos con 5 sucursales en Monterrey y su área metropolitana.</p>
