@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    General Escobedo Nuevo León.<br />
    Rio La silla #128<br />
    <abbr title="Telefono">T:</abbr>
    (81) 1257-1257
</address>

<address>
    <strong>Ayuda:</strong>   <a href="mailto:Support@example.com">gobus@gmail.com</a><br />
    <strong>Soporte:</strong> <a href="mailto:Marketing@example.com">efficientsolutions@gmail.com</a>
</address>