@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bienvenido a GOBUS</h1>
    <p class="lead">GOBUS es la agencia de vehiculos más grande de México.</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@

    <img src="~/Content/concesionario.focus-none.max-1200x600.jpg" />
</div>

<div class="row">
    
</div>